<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.enjoybt.mdriv_api.api.vo.ApiVO" alias="ApiVO"></typeAlias>
		<typeAlias type="com.enjoybt.mdriv_api.kma.vo.SfcDyVO" alias="SfcDyVO"></typeAlias>
		<typeAlias type="com.enjoybt.mdriv_api.kma.vo.SfcHrVO" alias="SfcHrVO"></typeAlias>
	</typeAliases>

	<mappers>
	</mappers>
	
	
</configuration>