<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="kma">
    <select id="selectSfcDy" parameterType="java.util.Map" resultType="SfcDyVO">
        SELECT
            *
        FROM
            TI_KMA_SFC_DY
        WHERE 1=1
            and tm BETWEEN #{start_dt} AND #{end_dt}
          <if test="stn_id != null and !stn_id.equals('')">
              and stn_id = #{stn_id}::INTEGER
          </if>
        ORDER BY TM, STN_ID
        <if test="offset!=null and !stn_id.equals('')">
            OFFSET #{offset}::INTEGER
        </if>
        <if test="limit!=null and !stn_id.equals('')">
            limit #{limit}::INTEGER
        </if>
    </select>

    <select id="selectSfcHr" parameterType="java.util.Map" resultType="SfcHrVO">
        SELECT
         *
        FROM
            TI_KMA_SFC_HR
        WHERE 1=1
            and tm like #{target_date} || '%'
            and stn_id = #{stn_id}::INTEGER
        ORDER BY TM, STN_ID
        <if test="offset!=null and !stn_id.equals('')">
            OFFSET #{offset}::INTEGER
        </if>
        <if test="limit!=null and !stn_id.equals('')">
            limit #{limit}::INTEGER
        </if>
    </select>

</mapper>
